
body {
  padding-top: 50px;
}

.hero {
  width: 100%;
  height: auto;
}

.headline {
  text-align: center;
}

.toc {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-top: none;
}

#bridgefoundry-logo {
  float: left;
  width: 100px;
  margin-right: 10px;
}
