<head>
  <meta name="charset" content="utf-8">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="6ll_SrP56ArTtstGBUhTEP6vusbbpwf9Zgj4dQTkhM4" />

  <title>Bridge Foundry</title>

  <!-- Bootstrap -->
  <link href="{{ site.github.url }}/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.github.url }}/site.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
