<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include topbar.html %}
    <div class="container">
      <br>
      <br>
      <br>
      {{ content }}
      {% include footer.html %}
    </div> <!-- /container -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
